.navbar {
  background:transparent;
  border:1px solid black;
  border-radius:24px;
  justify-content: center;
  padding:12px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);

}
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

body{
  background:url("images/hero.png");
}
















